{% extends "layout.html" %}

{% block body %}
  
<h3>Hakkımızda</h3>
<hr>

<p>
    Kodlama Atölyesi gönüllü üniversite öğrencileri tarafından sosyal sorumluluk projesi kapsamında 8-16 yaş arası çocuklara kodlamayı öğretmek amacıyla Kasım 2015’de kuruldu. Başlangıç olarak İstanbul Şehir Üniversitesi bünyesinde çocuklara kodlamaya giriş olarak Scratch ve code.org üzerinden dersler verildi. Daha sonra robotik, uygulama geliştirme, bilişim, iletişim ve düşünme atölyeleri ile çocukların ve genç kızların kendilerini ifade etmeleri, üretmeleri, bilişim çağına yetişmeleri; düşünme, öğrenme ve iletişim becerilerini geliştirmeleri için atölyelerin çeşitliliğinin arttırılması hedeflendi. Projenin sürdürülebilmesi ve hedefe ulaşmak için kısmi ticari bir girişime dönüştürüldü. Halen sosyal sorumluluk kapsamında çocuklara kodlama ve robotik eğitimleri verilmektedir, yaş aralığı ve atölye çeşitliliği genişletilerek eğitimler verilmeye devam edilecektir.
</p>

{% endblock body %}